@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.one {
    width: 50vw;
    height: 100vh;
    text-align: center;
    background-color: #faf0dc;
}

.txt1 {
    font-size: 29px;
    font-family: "Rubik Dirt", system-ui;
}

.txt2 {    
    margin-top: -10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Rubik Dirt", system-ui;
}

.button1 {
    font-size: 65px;
    border: 2px solid black;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: help;
    user-select: none;
    font-family: "Sekuya", system-ui;
    background-color: #f9eacd;
}

.numbers {
    margin-top: 20px;
    width: 15vw;
    height: 20vh;
    user-select: none;
}

.equals {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 73vh;
    left: 35vw;
    user-select: none;
}

.less {
    width: 50px;
    height: 50px;
    position: absolute;
    user-select: none;
}

.greater {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    user-select: none;
}

.two {
    width: 50vw;
    height: 100vh;
    background-color: rgb(181, 112, 0);
}

